<div class = "overflow-auto p-2 bg-light-grey" *ngIf = "cache.routes && (cache.routes.length > 0) && !selectedRoute">
  <div *ngFor = "let route of cache.routes" (click) = "selectRoute(route)">
    <p>Route: {{route.id}}</p>
    <p>Description: {{route.description}}</p>
    <hr>
  </div>
</div>
<div class = "overflow-auto p-2 bg-light-grey" *ngIf = "selectedRoute">
  <form>
      <h3>Route: {{selectedRoute.id}}</h3>
      <div class = "form-group">
        <label for = "description">Description:</label>
        <input type = "text" class = "form-control" id = "description" [(ngModel)] = "selectedRoute.description" name = "description" [disabled] = "isPending">
      </div>
      <div class = "form-group">
        <label for = "startTime">Start Time:</label>
        <input type = "text" class = "form-control" id = "startTime" [(ngModel)] = "selectedRoute.idealStartTime" name = "startTime" [disabled] = "isPending">
      </div>
      <ul>
        <li *ngFor = "let node of selectedRoute.nodes">
          <div>
            <p>ID: {{node.id}}</p>
            <div class = "form-group">
              <label for = "location">Location:</label>
              <input type = "text" class = "form-control" id = "location" [(ngModel)] = "node.location" name = "location" [disabled] = "isPending">
            </div>
            <button class = "pl-3 pr-3 btn btn-light" (click) = moveNodeUp(node) *ngIf = "selectedRoute.nodes.indexOf(node) > 0">Move Up</button>
            <button class = "pl-3 pr-3 btn btn-light" (click) = moveNodeDown(node) *ngIf = "selectedRoute.nodes.indexOf(node) < selectRoute.nodes.length - 1">Move Down</button>
            <button class = "pl-3 pr-3 btn btn-light" (click) = deleteNode(node) *ngIf = "selectedRoute.nodes.length > 2">Delete Node</button>
          </div>
        </li>
      </ul>
  </form>
  <button class = "pl-3 pr-3 btn btn-light" (click) = submit()>Submit</button>
  <button class = "pl-3 pr-3 btn btn-light" (click) = cancel()>Cancel</button>
</div>
